:root {
  --primary-color-1: #495e57;
  --primary-color-2: #f4ce14;
  --secondary-color-1: #ee9972;
  --secondary-color-2: #fbdabb;
  --secondary-color-3: #edefee;
  --secondary-color-4: #333333;

  --display-title: 500 30px/1 'Markazi Text', serif;
  --subtitle: 400 24px/1 'Markazi Text', serif;

  --lead-text: 500 12px/1 'Karla', sans-serif;
  --section-title: 800 15px/1 'Karla', sans-serif;
  --section-categories: 800 13px/1 'Karla', sans-serif;
  --card-title: 700 12px/1 'Karla', sans-serif;
  --paragraph-text: 400 11px/1 'Karla', sans-serif;
  --highlight-text: 500 11px/1 'Karla', sans-serif;
  --footer-text: 300 9px/1 'Karla', sans-serif;
  --footer-highlight: 400 9px/1 'Karla', sans-serif;

  --desktop-display-title: 500 64px/1 'Markazi Text', serif;
  --desktop-subtitle: 400 40px/1 'Markazi Text', serif;

  --desktop-lead-text: 500 18px/1 'Karla', sans-serif;
  --desktop-section-title: 800 20px/1 'Karla', sans-serif;
  --desktop-section-categories: 800 16px/1 'Karla', sans-serif;
  --desktop-card-title: 700 18px/1 'Karla', sans-serif;
  --desktop-paragraph-text: 400 16px/1 'Karla', sans-serif;
  --desktop-highlight-text: 500 16px/1 'Karla', sans-serif;
  --desktop-footer-text: 300 12px/1 'Karla', sans-serif;
  --desktop-footer-highlight: 400 12px/1 'Karla', sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
